<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'stylesheets/main.css') }}">
    <title>lil site</title>
</head>

<body>
    <div class="container">
        <h1>hello whirl</h1>
        <div class="row">
            <div class="grid-third grid-highlight">.grid-third</div>
            <div class="grid-two-thirds grid-highlight">.grid-two-thirds</div>
        </div>
        <div class="row">
            <div class="grid-fourth grid-highlight">.grid-fourth</div>
            <div class="grid-three-fourths grid-highlight">.grid-three-fourths</div>
        </div>
        <div class="row">
            <div class="grid-half grid-highlight">.grid-half</div>
            <div class="grid-half grid-highlight">.grid-half</div>
        </div>
        <div class="row">
            <div class="grid-fourth grid-highlight">.grid-fourth</div>
            <div class="grid-half grid-highlight">.grid-half</div>
            <div class="grid-fourth grid-highlight">.grid-fourth</div>
        </div>
    </div>
</body>

</html>
