.spotcamp-layout {
  a {
    color: var(--color-white);
  }
}

.spotcamp-layout--result-hint {
  font-style: italic;
  padding-bottom: 0.5rem;
}

.spotcamp-layout--retry-search {
  padding-bottom: 0.5rem;
}
