.search-result {
  .search-result--body {
    display: flex;
    color: var(--color-white);
    text-decoration: none;
    margin-bottom: 1rem;

    :hover {
      color: var(--color-white);
      text-decoration: underline;
    }
  }

  .search-result--image {
    width: 7rem;
    height: auto;
    // https://pavellaptev.medium.com/css-weekly-2-an-image-on-the-left-text-on-the-left-a5e59b2acdb5
    object-fit: contain;
    align-self: flex-start;
    margin-right: 0.5rem;
    border-radius: 0.3rem;
  }

  .search-result--text {
    flex: 1 1 auto;
  }

  .search-result--heading {
    font-weight: bold;
  }
}
