@import "config";
@import "components/reset";
@import "components/grid";
@import "components/typography";
@import "components/code";
@import "components/buttons";
@import "components/forms";
@import "components/tables";
@import "components/overrides";
@import "components/print";
@import "components/body";
@import "components/search-results";
@import "components/search-result";
@import "pages/spotcamp-search";
@import "pages/spotcamp-layout";

.grid-highlight {
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 0.0725em;
  margin-bottom: 1.5625em;
  padding: 0.9375em;
}
